<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YJProgressHUD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FA8337FC1D7582E400FA2C9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA8338151D7582E400FA2C9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA8338201D7582E400FA2C9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
